# https://github.com/github/linguist#overrides

webui/html/assets/css/* linguist-vendored
webui/html/assets/font/* linguist-vendored
webui/html/assets/js/* linguist-vendored
webui/html/assets/js/vendor/* linguist-vendored
